html {
    box-sizing: border-box;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 40px;
    padding-left: 40px;
    padding-top: 40px;
    
}

#grid-container {
    border: 4px solid black;
    height: min(70vw, 70vh);
    width: min(70vw, 70vh);
}

#grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"
}

.space {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(7vw, 7vh);
    font-weight: bold;
}

.space:hover {
    background-color: beige;
}

#a {grid-area: a;} 
#b {grid-area: b;}
#c {grid-area: c;}
#d {grid-area: d;}
#e {grid-area: e;}
#f {grid-area: f;}
#g {grid-area: g;}
#h {grid-area: h;}
#i {grid-area: i;}

